// emp-button.molecule styles
:root {
  --emp-article-hover-bg: #{rgba(color(black, tertiary), 0.25)};
  --emp-article-link-bg: #{color(gray, light)};
  --emp-article-link-color: #{color(gray, dark)};
}
