// emp-footer.molecule styles
:root {
  --emp-footer-link-gray-color: #{color(gray, dark)};
  --emp-footer-divider-color: #{color(gray, dark)};
  --emp-footer-link-primary-color: #{color(primary, blue)};
}
