// profile.page styles
:host,
profile-page {
  @include default-font();
  .default-header {
    background-color: color(primary, blue);
    img {
      height: 60%;
      cursor: pointer;
    }
    emp-i-molecule {
      --i-color: #{color(gray, light)};
      --i-font-size: #{size(24px)};
      --i-width: #{size(24px)};
      --i-height: #{size(24px)};
      margin-left: size(20px);
      margin-right: 0;
      &:first-of-type {
        margin-left: auto;
      }
    }
  }
  ul {
    border-radius: size(8px);
    overflow: hidden;
    emp-list-item-molecule {
      display: block;
      border-bottom: 1px solid rgba(color(gray, dark), 0.5);
      &:hover {
        border-bottom: 1px solid rgba(color(gray, light), 0.5);
      }
      &:last-child {
        border-bottom: none;
      }
      &.lang-list {
        --emp-list-bg-color: #{color(gray, dark)};
        --emp-list-text-color: #{color(gray, light)};
        --emp-list-icon-right-color: #{color(gray, light)};
        --emp-list-icon-left-color: #{color(gray, light)};
        --emp-list-bg-color-hover: #{color(primary, blue)};
        --emp-list-text-color-hover: #{color(gray, light)};
        --emp-list-icon-right-color-hover: #{color(gray, light)};
        --emp-list-icon-left-color-hover: #{color(gray, light)};
        &--selected {
          --emp-list-bg-color: #{color(primary, red)};
          --emp-list-text-color: #{color(gray, light)};
          --emp-list-icon-right-color: #{color(gray, light)};
          --emp-list-icon-left-color: #{color(gray, light)};
          --emp-list-bg-color-hover: #{color(primary, red)};
          --emp-list-text-color-hover: #{color(gray, light)};
          --emp-list-icon-right-color-hover: #{color(gray, light)};
          --emp-list-icon-left-color-hover: #{color(gray, light)};
        }
      }
    }
  }
}
